@font-face {
    font-family: 'Charger Eco';
    src: url('/font/ChargerEco/ChargerEco-14JB.otf') format('opentype');
    src: url('/font/ChargerEco/ChargerEcoblack-BP28.otf') format('opentype');
    src: url('/font/ChargerEco/ChargerEcoblackOblique-8YlJ.otf') format('opentype');
    src: url('/font/ChargerEco/ChargerEcoblackOppositeOblique-YL14.otf') format('opentype');
    src: url('/font/ChargerEco/ChargerEcobold-rGOL.otf') format('opentype');
    src: url('/font/ChargerEco/ChargerEcoboldOblique-M84n.otf') format('opentype');
    src: url('/font/ChargerEco/ChargerEcoOblique-R2E6.otf') format('opentype');
}
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 80px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}