@font-face {
    font-family: 'Charger Eco';
    src: url('/public/font/ChargerEco/ChargerEco-14JB.otf') format('opentype');
    src: url('/public/font/ChargerEco/ChargerEcoblack-BP28.otf') format('opentype');
    src: url('/public/font/ChargerEco/ChargerEcoblackOblique-8YlJ.otf') format('opentype');
    src: url('/public/font/ChargerEco/ChargerEcoblackOppositeOblique-YL14.otf') format('opentype');
    src: url('/public/font/ChargerEco/ChargerEcobold-rGOL.otf') format('opentype');
    src: url('/public/font/ChargerEco/ChargerEcoboldOblique-M84n.otf') format('opentype');
    src: url('/public/font/ChargerEco/ChargerEcoOblique-R2E6.otf') format('opentype');
}

@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';



body{
    background-image: url("/public/assets/images/Acceuill_Ecoride.png");
    background-size: 400%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;   
}


html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 270px;
}

footer.footer{
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;   
} 

a{
    font-family: $font-family-serif;
    font-size: 18px;
}

p{
    font-family: $font-family-serif;
    font-size: 10px;
}
.card{
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
    .card-text{
        font-family: $font-family-serif;
        font-size: 12px;
    }
    .card-title{
        font-family: $font-family-sans-serif;
        font-size: 20px;
    }
}

nav{
  background-image: url("/public/assets/svg/header_style.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

form{
    .form-label{
        font-family: $font-family-serif;
        font-size: 15px;
        color: $dark;
    }
     .form-control::placeholder{
        font-family: $font-family-serif;
        font-size: 12px;
        
     }
}

.btn-light{
    border: 8px solid #74CF65;
    border-radius: 15%;
}

.container{
    border-radius: 15%;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
}

input{
    font-family: $font-family-serif;
    font-size: 12px;
}